## Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Some of the key takeaways from the course**
- Popular languages in Data Science;
- Commonly libraries used by Data Scientists;
- Some Tools used in Data Science;

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R Language
4. Java

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- ScyPy
- ggplot2
- Matplotlib

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5

# Display the result
result

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
result = 200/60

#Display the result
print ("200 minutes equals to",result, " hours")

200 minutes equals to 3.3333333333333335  hours

## Author
name Author